*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body{
    background: #ddd;
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: "open sans", sans-serif;

}
.container{
    
    display : flex;
    flex-direction: column;
    width: 32rem;
    height: 36rem;
    background-color: #ffffff;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0,0.3);
    /* border: yellow 1px solid; */

}
.header{
    height: 15%;
    width: 100%;
    /* border: 1px solid brown; */
    align-content: center;
    justify-content: center;
}
.header > h2{
    width: 16rem;
    height: 2rem;
    margin: auto;
    margin-top: 16px;
    text-align: center;

}
.form {
    padding: 30px 40px;
}
.form-control{
    margin-top: 5px;
    padding-bottom: 10px;
    position: relative;
}
.form-control > label{
    display: inline-block;
    margin-bottom: 8px;
   
} 
.form-control > input{
    border: 2px solid #ddd;
    display: block;
    height: 2.4rem;
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    font-size: medium;
    padding: 5px;
    


}
i{
    position: absolute;
    top: 30px;
    right: 15px;
    visibility: hidden;
}
small{
   position: absolute;
   visibility: hidden; 
}
button{
    /* border: 1px solid blue; */
    
    width: 10rem;
    display: flex;
    height : 2rem;
    margin: auto;
    border-radius: 2rem;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    /* margin: auto; */
}
.form-control.success > i.fa-check-circle {
    visibility: visible;
    color: rgb(49, 199, 49);
}
.form-control.error > i.fa-exclamation-circle {
    visibility: visible;
    color : red;
}
.form-control.error > small{
    visibility: visible;
    color : red;
} 

.error{
    border: 2px solid red !important;
}

.success{
    border: 2px solid green!important;
}